<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>
    <main>
    <div class="section">
      <div class="notification has-background-whiter">
      <h1 class="title is-3">user login</h1>
      <form class="basic-form" action="/auth/login" method="post">
        <input class="input is-medium is-rounded" type="text" placeholder="username" name="username" />
        <br></br>
        <input class="input is-medium is-rounded" type="password" placeholder="password" name="password" />
        <br></br>
        <input class="button is-medium is-rounded" type="submit" value="login" />
      </form>
    </div>
      <h3>Don't have an account? <a href="/auth/signup">Sign up</a></h3>
    </div>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>