<header>    
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdnafitness.net%2Fwp-content%2Fuploads%2F2015%2F01%2Ftime-icon-TBD.png&f=1&nofb=1" width="50">
            </a>

  
    
  
    </div>
  </nav>
</header>
<!-- <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar start">
            <a class="navbar-item">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" alt="Bulma">
            </a>
        <!-- navbar start, navbar end -->
