<header>    
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-menu">
                <div class="navbar-start">
                  <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item" href="/"><img class="bot" src="https://i.imgur.com/P9Pi1G9.jpg" width="25" height="20">&nbsp; menu</a>
                    <div class="navbar-dropdown is-boxed">
                      <a class="navbar-item" href="/auth/login">
                        login
                      </a>
                      <a class="navbar-item" href="/dashboard">
                        dashboard
                      </a>
                      <a class="navbar-item" href="/climbs">
                        feed
                      </a>
                      <a class="navbar-item" href="/">
                        logout
                      </a>
                    </div>
                  </div>
                </div>
            </div>


    
  
    </div>
  </nav>
</header>
