<header>    
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-menu">
                <div class="navbar-start">
                  <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item" href="/">
                        menu
                    </a>
                    <div class="navbar-dropdown is-boxed">
                      <a class="navbar-item" href="/auth/login">
                        login
                      </a>
                      <a class="navbar-item" href="/dashboard">
                        dashboard
                      </a>
                      <a class="navbar-item" href="/climbs">
                        feed
                      </a>
                      <a class="navbar-item" href="/">
                        logout
                      </a>
                    </div>
                  </div>
                </div>
            <!-- <a class="navbar-item" href="/auth/signup">signup</a>
            <a class="navbar-item" href="/auth/login">login</a> -->
                
            </div>


    
  
    </div>
  </nav>
</header>
