<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>
        
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>
          <a href="/auth/logout"><button class="button is-smaller is-rounded">logout</button></a>
            <section class="hero has-background-white-ter is-smaller">
                <div class="hero-body">
                    <p class="title">
                        Dashboard
                    </p>
            </section>
            <section class="hero has-background-white-ter is-small">
                <div class="hero-body">
                  <p class="subtitle">
                    <a href="/climbs">boulder problems</a>
                  </p>
                </div>
              </section>
            <div class="columns">
                    <div class="column has-background-grey-lighter">
                      First column
                    </div>
                    <div class="column has-background-grey-lighter">
                      Second column
                    </div>
                  </div>

        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>