<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>
        
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>
            <section class="hero has-background-white-ter is-smaller">
                <div class="hero-body">
                  <p class="title center" id="start-sub">
                    dashboard
                  </p>
                </div>
            </section>
            <section class="hero has-background-white-ter is-small">
                <div class="hero-body">
                  <p class="subtitle">
                    <button class="button is-rounded is-smaller center"><a href="/climbs">my boulder problems</a></button>
                  </p>
                </div>
              </section>
            <div class="columns">
                    <div class="column has-background-grey-lighter">
                      First column
                    </div>
                    <div class="column has-background-grey-lighter">
                      Second column
                    </div>
                  </div>

        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>