<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>
    <section class="hero has-background-white-ter is-fullheight">

          <container>
              <h1 id="start" class="title has-text-centered">betaBot</h1>
              <h2 id="start-sub" class="subtitle has-text-centered">a simple bouldering skills tracker</h2>
              <br></br>
              <div class="center">
                <button class="button is-medium is-rounded is-light"><a href="/auth/login">login</a></button>
              </div>
            </container>
        </div>
    </section>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>