<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>

        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>
            <section class="section is-large">
                <h1 class="title">BetaBot</h1>
                <h2 class="subtitle">a simple app for tracking bouldering progress</h2>
            </section>

        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>