<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>

        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>
            <div class="container-2">
              <div class="notification has-background-whiter">
              <h1 class="title is-3">new problem</h1>
            <form action="/climbs" method="POST">
            <input type="text" placeholder="upload photo" name="url" /><br></br>
            <strong>Name:</strong> <input type="text" name="name" /></br>
            <strong>Grade:</strong> <input type="text" name="grade" /><br/>
            <strong>Location:</strong> <input type="text" name="location" /><br/>
            <br></br>
            <strong>Rock Face:</strong></br>
                <div class="columns">
                <div class="column">
                <input type="checkbox" name="slab" /> Slab <br/>
                </div>
                <div class="column">
                <input type="checkbox" name="vertical" /> Vertical <br/>
                </div>
                <div class="column">
                <input type="checkbox" name="overhung" /> Overhung
                </div>
                </div>
                </br>
            <strong>Holds:</strong></br>
                <div class="columns">
                <div class="column">
                <input type="checkbox" name="jugs" /> Jugs  <br/>
                <input type="checkbox" name="crimps" /> Crimps  <br/>
                <input type="checkbox" name="slopers" /> Slopers<br/>
                </div>
                <div class="column">
                <input type="checkbox" name="pinches" /> Pinches  <br/>
                <input type="checkbox" name="pockets" /> Pockets  <br/>
                <input type="checkbox" name="volumes" /> Volumes<br/>
                </div>
                <div class="column">
                <input type="checkbox" name="cracks" /> Cracks  <br/>
                <input type="checkbox" name="aretes" /> Aretes
                </div>
                </div>
                </br>
            <strong>Techniques Used:</strong></br>
                <div class="columns">
                <div class="column">
                <input type="checkbox" name="edging" /> Edging <br/>
                <input type="checkbox" name="smearing" /> Smearing <br/>
                <input type="checkbox" name="flagging" /> Flagging<br/>
                <input type="checkbox" name="stemming" /> Stemming <br/>
                <input type="checkbox" name="bathanging" /> Bat-Hanging <br/>
                </div>
                <div class="column">
                <input type="checkbox" name="liebacking" /> Lie-Backing<br/>
                <input type="checkbox" name="mantling" /> Mantling <br/>
                <input type="checkbox" name="dropkneeing" /> Drop-Kneeing <br/>
                <input type="checkbox" name="sidepulling" /> Side-Pulling<br/>
                <input type="checkbox" name="palming" /> Palming <br/>
                </div>
                <div class="column">
                <input type="checkbox" name="dynoing" /> Dyno-ing <br/>
                <input type="checkbox" name="gastoning" /> Gastoning<br/>
                <input type="checkbox" name="heelhooking" /> Heel-Hooking <br/>
                <input type="checkbox" name="toehooking" /> Toe-Hooking <br/>
                <input type="checkbox" name="lockingoff" /> Locking-Off<br/>
                </div>
                </div>
                <br></br>
            <input type="submit" name="" value="Add Problem"/><br></br>
        </form>
        </div>
        </div>
        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>