@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
    padding: 10px 10px 10px 10px;
}

#home-title {
    padding: 50 10px 20px 10px;
}

#images-title {
    padding: 10px 10px 10px 10px;
}

#update-title {
    padding: 10px 10px 20px 10px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
 }

h3 {
    text-align: center;
}

.image {
    min-width: 400px;
    max-width: 500px;
}

button {
    font-family: 'Roboto', sans-serif;
    margin: 0px auto 10px auto;
}

.button {
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
    margin: 30px 5% 0px 5%;
}

.column {
    margin: auto 5% auto 5%;
}

#photos {
    margin: 0 0 0 0;
}

.basic-form {
    text-align: center;
    margin: 0 auto 20px auto;
    max-width: 325px;
}

.footer {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.footer-icon {
    size: 20px;
}