@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

#start {
    font-family: 'Manrope', sans-serif;
    font-size: 80px;
    padding: 25% 10px 10px 10px;
}

#start-sub {
    font-size: 30px;
}

h1 {
    font-family: 'Manrope', sans-serif;
    padding: 20px 10px 10px 10px;
}

#home-title {
    padding: 50 10px 20px 10px;
}

#images-title {
    padding: 10px 10px 10px 10px;
}

#update-title {
    padding: 10px 10px 20px 10px;
}

h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 40px;
 }

h3 {
    text-align: center;
}

.image {
    min-width: 400px;
    max-width: 500px;
}

button {
    font-family: 'Manrope', sans-serif;
    margin: 0px auto 10px auto;
}

.button {
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

.card {
    width: 275px;
    height: 650px;
    margin: 0px auto 50px auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.media-text {
    text-align: left;
    margin: auto 5% 5% 5%;
}

.section {
    text-align: center;
    margin: 2% 5%;
}

.column {
    margin: auto 5% auto 5%;
}

img {
    width: 275px;
    height: 275px;
    object-fit: cover;
  }

.basic-form {
    text-align: center;
    margin: 0 auto 20px auto;
    max-width: 325px;
}

.footer {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.footer-icon {
    size: 20px;
}